.contact-form {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-form label {
  font-size: 2rem;
}

.contact-form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1.8rem;
  width: 65vw;
  height: 50px;
  max-width: 500px;
  background-color: var(--primary-color);
}

.succeeded-message{
  font-size: 1.6rem;
  padding: 20px;
  text-align: center;
  color: var(--page-background);
  text-shadow: -5px 3px 20px var(--secondary-color);
}

.contact-form button {
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: 600;
}