.Project {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.project-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary-color);
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,255,255,1) 84%, rgba(238,255,255,1) 100%);
  color: black;
}
.project-title {
  margin-top: 10px;
}
.project-image-container {
  min-height: 200px;
}
.project-img {
  width: 250px;
}
.project-description {
  padding: 10px;
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 100;
}