.Project {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px 20px;
}
.project-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,255,255,1) 84%, rgba(238,255,255,1) 100%);
  color: black;
}
.project-title {
  margin: 20px;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,255,255,1) 84%, rgba(238,255,255,1) 100%);;
  border: 1px solid black;
  border-radius: 3px;
}
.project-image-container {
  min-height: 200px;
}
.project-img {
  border-radius: 20px;
  width: 250px;
}
.project-description {
  padding: 30px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
}