.hero-container {
	width: 100%;
}
.hero-image {
	width: 100%;
	min-width: 320px;
	max-height: 800px;
	object-fit: cover;
}
.text-container {
	display: block;
	position: absolute;
	top: 80px;
}
.hero-title {
	text-align: left;
	font-size: 3rem;
	font-weight: bolder;
}
.hero-subtitle {
	width: 55vw;
	text-align: left;
	font-size: 1.7rem;
	font-weight: 400;
}
.hero-button {
	position: absolute;
	top: calc(33%);
	left: calc(50% + 5px);
}

@media only screen and (min-width: 767px) {
	.text-container {
		top: calc(16%);
		left: calc(10%);
		padding: 300px;
		margin: 300px;
	}
	.hero-title {
		font-size: 7rem;
		width: 620px;
	}
	.hero-subtitle {
		font-size: 3rem;
	}
	.hero-button {
		top: calc(40%);
		left: calc(50%);
	}
}

@media only screen and (min-width: 1023px) {
	.text-container {
		top: calc(13%);
		left: calc(10%);
		padding: 300px;
		margin: 300px;
		width: 400px;
	}
	.hero-title {
		/* width: 800px; */
		font-size: 7rem;
	}
	.hero-subtitle {
		width: 800px;
		font-size: 3rem;
	}
	.hero-button {
		top: calc(30%);
		left: calc(48%);
	}
}

@media only screen and (min-width: 1300px) {
	.text-container {
		top: 150px;
	}
	.hero-button {
		top: 290px;
	}
}

@media only screen and (min-width: 1300px) {
	.text-container {
		/* top: calc(15%); */
		left: calc(10%);
		padding: 300px;
		margin: 300px;
		width: 400px;
	}
	.hero-title {
		width: 800px;
		font-size: 7rem;
	}
	.hero-subtitle {
		width: 800px;
		font-size: 3rem;
	}
	.hero-button {
		/* top: calc(27%); */
		left: calc(47%);
	}
}

@media only screen and (min-width: 2500px) {
	.text-container {
		top: calc(5%);
		left: calc(20%);
	}
	.hero-button {
		top: 200px;
	}
}
